body {
  background-color: black;
  color: white;
}

input#exampleInputEmail1,
input#inputPassword6 {
  width: 8cm;
  margin-right: 1cm;
}

.row.g-3.align-items-center {
  margin-bottom: 10px;
}

i{
  cursor: pointer;
}